# Adres backendu HackoWatt (domyślnie IP Twojego komputera w sieci Wi-Fi dla fizycznego telefonu)
EXPO_PUBLIC_API_URL="http://192.168.0.161:8000"

# Token autoryzacji Bearer (zgodny z API_KEY w głównym .env backendu)
EXPO_PUBLIC_API_TOKEN="hackowatt-demo-mobile-key-2026"
